<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TPG | Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  </head>
  <body>
    <div class="center">
        <h1>Reset Password</h1>

        <center>
            <h4>Forgotten your password?</h4>
            <br>
            <p>Enter your email address and we'll email instructions on setting a new one</p>
        </center>
        <form action="" method="POST">
            {% csrf_token %}
            <br>
            <center>{{ password_reset_form }}</center>
            <br>
            <input type="submit" name="send email">
            <br>
            {% if messages %}
              {% for message in messages %}
                <h4 style="color: firebrick;">{{ message }}</h4>
              {% endfor %}
            {% endif %}
            <br>
        </form>
    </div>
  </body>
</html>
