<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TPG | Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  </head>
  <body>
    <div class="center">
        <h1>Reset Password Sent</h1>

        <center>
            <br>
            <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
            <br>
            <hr>
            <br>
            <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
        </center>
    </div>
  </body>
</html>
