<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TPG | Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
  </head>
  <body>
    <div class="center">
        <h1>Reset Password</h1>

        <center>
            <h4>Enter new password</h4>
            <p>Please enter you new password twice so we can verify that you typed it in correctly.</p>
        </center>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" name="update email">
        </form>
    </div>
  </body>
</html>
